<div class="container">
  <div class="admin-welcome">
    <h1>All Rents</h1>
  </div>
  <%-include('./partials/messages.ejs')%>
  <table class="table mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Product Name</th>
        <th scope="col">Cost</th>
        <th scope="col">Cash Back</th>
        <th scope="col">Rent Start</th>
        <th scope="col">Rent Expire</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% rents.forEach(function(rent){ %>
      <tr>
        <td scope="row"><%= rent.customer_name %></td>
        <td scope="row"><%= rent.product_name %></td>
        <td scope="row"><%= rent.cost %> TK</td>
        <td scope="row"><%= rent.cashback %> TK</td>
        <td scope="row"><%= rent.rentStart %></td>
        <td scope="row"><%= rent.rentExpire %></td>
        <td scope="row">
          <a href="/admin/removeRent/<%=rent.id%>" class="btn btn-danger">Remove</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
